body{
    background: url("./assets/home/background-home-desktop.jpg");
    line-height: 2;
}

/* -----NAVIGATION------ */

.nav-container{
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem 3.4rem;
    margin-top: 2.25rem;
}

.line-style{
    width: 30rem;
    height: 1px;
    background: hsl(var(--clr-white)/0.1);
}

.nav-blur{
    background: hsl(var(--clr-white)/0.1);
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0%;
}

.nav-list{
    gap: 3rem;
    margin-right: 8.8rem;
    text-transform: uppercase;
}

.nav-link{
    gap: 0.75rem;
}

.nav-link > span{
    font-weight: 800;
}

/* ------HOMEPAGE CONTENT------ */

.home-container{
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 80rem;
    gap: 12rem;
    margin-top: 35vh;
    margin-left: 8rem;
    grid-template-columns: 1fr 2fr;
}

.primary-heading{
    margin-bottom: 1.5rem;
}

.primary-span{
    display: block;
    padding-top: 1.5rem;
}


/* -----BUTTON------ */

.large-button{
    font-size: 2rem;
    position: relative;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    justify-self: center;
    align-self: center;
    padding: 0 3rem;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .15);
    border-radius: 50%;
    transition: transform 1s ease-in;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.75);
}

